<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<link href="../css/userpanel.css" th:href="@{/css/userpanel.css}" rel="stylesheet">
<head>
    <title th:text="#{string.admin}"></title>
    <form th:action="@{/logout}" method="post" style="float: right">
        <input class="button" type="submit" th:value="#{string.common.logout}"/>
    </form>
    <div style="float: right">
<span class="locale">
    <a href="?lang=en">EN</a>
    |
    <a href="?lang=ua">UA</a>
</span>
    </div>
</head>
<body>
<div class="container">
    <h3 th:inline="text">[[#{string.admin}]] [[${#httpServletRequest.remoteUser}]]</h3>

    <div>
        <span class="header" th:text="#{string.admin.requests}" style="font-size: large "></span>
    </div>
    <table class="table">
        <tr>
            <th th:text="#{string.admin.username}"></th>
            <th th:text="#{string.admin.request.amount}"></th>
            <th th:text="#{string.admin.date}"></th>
            <th th:text="#{string.admin.time}"></th>
            <th th:text="#{string.admin.status}"></th>
            <th th:text="#{string.admin.confirm}"></th>
            <th th:text="#{string.admin.reject}"></th>
        </tr>
        <tr th:each="item : ${requestDTO.requests}">
            <td th:text="${item.userWallet.user.username}"></td >
            <td th:text="${item.requestAmount}"></td>
            <td th:text="${item.requestDate}"></td>
            <td th:text="${item.requestTime}"></td>
            <td th:if="${item.creditRequestStatus.name()}=='CONFIRMED'" th:text="#{type.confirmed}"></td>
            <td th:if="${item.creditRequestStatus.name()}=='REJECTED'" th:text="#{type.rejected}"></td>
            <td th:if="${item.creditRequestStatus.name()}=='PROCESSING'" th:text="#{type.procesing}"></td>
            <td  th:if="${item.creditRequestStatus.name()}=='PROCESSING'">
                <form th:action="@{/admin/confirmation}" method="post">
                    <input type="hidden" name="id" th:value="${item.id}">
                    <input type="hidden" name="requestAmount" th:value="${item.requestAmount}">
                    <input type="submit" class="button"
                           style="color: green"
                           th:value="#{string.admin.confirm}">
                </form>
            </td>
            <td th:if="${item.creditRequestStatus.name()}=='PROCESSING'">
                <form th:action="@{/admin/rejection}" method="post">
                    <input type="hidden" name="id" th:value="${item.id}">
                    <input type="hidden" name="requestAmount" th:value="${item.requestAmount}">
                    <input type="submit" class="button"
                           style="color: red"
                           th:value="#{string.admin.reject}">
                </form>
            </td>
        </tr>
    </table>

</div>
</body>
</html>